@media screen and (max-width: 320px){
    .login__form-container{
        background-color: rgb(237, 237, 237, 0.5);

    }
    .login__form{
        height: 55vh;
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .login__form-title{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .login__form-input{
        width: 80%;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        padding: 1rem 1rem 1.5rem 1.5rem;
        border-bottom: solid 2px #C8C8C8;
    }
    .login__form-btn{
        
        width: 30%;
        height: 10%;
        background-color: #2A7AE4;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px){
    .login__form-container{
        background-color: rgb(237, 237, 237, 0.5);

    }
    .login__form{
        height: 50vh;
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .login__form-title{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .login__form-input{
        width: 80%;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        padding: 1rem 1rem 1.5rem 1.5rem;
        border-bottom: solid 2px #C8C8C8;
    }
    .login__form-btn{
        
        width: 30%;
        height: 10%;
        background-color: #2A7AE4;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .login__form-container{
        background-color: rgb(237, 237, 237, 0.5);

    }
    .login__form{
        height: 50vh;
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .login__form-title{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .login__form-input{
        width: 60%;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        padding: 1rem 1rem 1.5rem 1.5rem;
        border-bottom: solid 2px #C8C8C8;
    }
    .login__form-btn{
        
        width: 25%;
        height: 12%;
        background-color: #2A7AE4;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px){
    .login__form-container{
        background-color: rgb(237, 237, 237, 0.5);

    }
    .login__form{
        height: 50vh;
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .login__form-title{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .login__form-input{
        width: 60%;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        padding: 1rem 1rem 1.5rem 1.5rem;
        border-bottom: solid 2px #C8C8C8;
    }
    .login__form-btn{
        
        width: 25%;
        height: 12%;
        background-color: #2A7AE4;
    }
}

@media screen and (min-width: 1200px){
    .login__form-container{
        background-color: rgb(237, 237, 237, 0.5);

    }
    .login__form{
        height: 45vh;
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .login__form-title{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .login__form-input{
        width: 30%;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        padding: 1rem 1rem 1.5rem 1.5rem;
        border-bottom: solid 2px #C8C8C8;
    }
    .login__form-btn{
        width: 10%;
        height: 15%;
        background-color: #2A7AE4;
        font-size: 2rem;
    }
}
/*
@media screen and (max-width: 320px){

}

@media screen and (min-width: 321px) and (max-width: 480px){

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 1199px){

}

@media screen and (min-width: 1200px){

}

*/