*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
/*
.nav__home{

}
*/
@media screen and (max-width: 320px){
    .nav__home-container{
        height: 7vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0rem 1rem;
    }
    
    .nav__container-logo{
        background-color: #fff;
    }
    
    
    
    .nav__container-search{
        background-color: #fff;
        display: flex;
        justify-content: center;
    }
    
    
    .nav__search-nav{
        padding: 0.5rem .6rem 0.5rem 2.5rem;
        outline: none;
        font-size: 1.1rem;
        border-radius: 1.3rem;
        color: #444;
        border: 0.2rem solid #a50559;
        background: #fff url("/img/search-icon.png") no-repeat 0.2rem center;
        width: 10%;
        transition: all .6s;

    }
    .nav__search-nav:hover{
        width: 100%;
        background-color: #fff;
        border-color: #8c10b3;
        box-shadow: 0 0 0.5rem #6dcff680;
    }
    
    .nav__container-btn{
        background-color: #fff;
        width: 20%;
        height: 60%;
    }
    .nav__btn-log{
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 321px) and (max-width: 480px){
    .nav__home-container{
        height: 7vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0rem 1rem;
    }
    
    .nav__container-logo{
        background-color: #fff;
    }
    
    
    
    .nav__container-search{
        background-color: #fff;
        display: flex;
        justify-content: center;
    }
    
    
    .nav__search-nav{
        padding: 0.5rem .6rem 0.5rem 2.5rem;
        outline: none;
        font-size: 1.1rem;
        border-radius: 1.3rem;
        color: #444;
        border: 0.2rem solid #a50559;
        background: #fff url("/img/search-icon.png") no-repeat 0.2rem center;
        width: 10%;
        transition: all .6s;

    }
    .nav__search-nav:hover{
        width: 100%;
        background-color: #fff;
        border-color: #8c10b3;
        box-shadow: 0 0 0.5rem #6dcff680;
    }
    
    .nav__container-btn{
        background-color: #fff;
        width: 20%;
        height: 60%;
    }
    .nav__btn-log{
        width: 100%;
        height: 100%;
         
    }

}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav__home-container{
        height: 8vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav__container-logo{
        background-color: #fff;
        width: 15%;
        display: flex;
        justify-content: center;
    }
    
    
    
    .nav__container-search{
        background-color: #fff;
        display: flex;
        justify-content: center;
        width: 55%;
    }
    
    
    .nav__search-nav{
        padding: 0.5rem .6rem 0.5rem 2.5rem;
        outline: none;
        font-size: 1.4rem;
        border-radius: 1.5rem;
        color: #444;
        border: 0.3rem solid #a50559;
        background: #fff url("/img/search-icon.png") no-repeat 0.4rem center;
        width: 19%;
        transition: all .6s;
    }
    .nav__search-nav:hover{
        width: 90%;
        background-color: #fff;
        border-color: #8c10b3;
        box-shadow: 0 0 0.5rem #6dcff680;
    }
    
    .nav__container-btn{
        background-color: #fff;
        height: 45%;
        width: 18%;
        display: flex;
        justify-content: center;
    }
    .nav__btn-log{
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 769px){
    .nav__home-container{
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav__container-logo{
        background-color: #fff;
        width: 10%;
        display: flex;
        justify-content: center;
    }
    
    
    
    .nav__container-search{
        background-color: #fff;
        display: flex;
        justify-content: center;
        width: 55%;
    }
    
    
    .nav__search-nav{
        padding: 0.5rem .6rem 0.5rem 2.5rem;
        outline: none;
        font-size: 1.4rem;
        border-radius: 1.5rem;
        color: #444;
        border: 0.3rem solid #a50559;
        background: #fff url("/img/search-icon.png") no-repeat 0.4rem center;
        width: 14%;
        transition: all .6s;
    }
    .nav__search-nav:hover{
        width: 90%;
        background-color: #fff;
        border-color: #8c10b3;
        box-shadow: 0 0 0.5rem #6dcff680;
    }
    
    .nav__container-btn{
        background-color: #fff;
        height: 60%;
        width: 12%;
        display: flex;
        justify-content: center;
    }
    .nav__btn-log{
        height: 100%;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 600;
    }
}


